<footer class="site-footer">

    <div class="spacer">

        <div class="footer-wrapper">
            <a href="http://www.eti.pg.gda.pl/katedry/kask/" title="Katedra Architektury Systemów Komputerowych" rel="external">Katedra Architektury Systemów Komputerowych</a>
            |
            <a href="http://www.eti.pg.gda.pl" title="Wydział Elektroniki, Telekomunikacji i Informatyki" rel="external">Wydział Elektroniki, Telekomunikacji i Informatyki</a>
            |
            <a href="http://www.pg.gda.pl" title="Politechnika Gdańska" rel="external" class="footer-next-link">Politechnika Gdańska</a>

            <div class="footer-about">
                <p>Projekt finansowany ze środków na naukę przez NCBIR MNISW w latach 2010-2012 jako projekt rozwojowy numer OR00010811.</p>
            </div>
        </div>

    </div>

</footer>
