<footer class="site-footer">

    <div class="spacer">

        <div class="footer-wrapper">
            <a href="https://eti.pg.edu.pl/katedra-architektury-systemow-komputerowych" title="Katedra Architektury Systemów Komputerowych" rel="external">Katedra Architektury Systemów Komputerowych</a>
            |
            <a href="https://eti.pg.edu.pl" title="Wydział Elektroniki, Telekomunikacji i Informatyki" rel="external">Wydział Elektroniki, Telekomunikacji i Informatyki</a>
            |
            <a href="https://pg.edu.pl" title="Politechnika Gdańska" rel="external" class="footer-next-link">Politechnika Gdańska</a>

            <div class="footer-about">
                <p>
                    <div>
                        Projekt finansowany ze środków na naukę przez NCBIR MNISW w latach 2010-2012 jako projekt rozwojowy numer OR00010811.
                    </div>
                    <div>
                        <a title="Wykonane przez zespół Comcute" href="{{ "/authors/" | relative_url }}">Wykonane przez zespół Comcute</a>
                    </div>
                </p>
            </div>
        </div>

    </div>

</footer>
