<header class="site-header" role="banner">

    <div class="wrapper">

        <a href="https://www.pg.gda.pl" class="logo hide-on-mobile" title="Politechnika Gdańska" ref="external">
            <img src="{{ "/images/logo-pg.png" | relative_url }}" alt="Politechnika Gdańska" />
        </a>
        <a href="https://www.eti.pg.gda.pl" class="logo hide-on-mobile with-margins" title="Wydział Elektroniki, Telekomunikacji i Informatyki" ref="external">
            <img src="{{ "/images/logo-eti.png" | relative_url }}" alt="Wydział ETI" />
        </a>
        <a href="{{ "/" | relative_url }}" class="logo center-on-mobile" title="Comcute - System utrzymania wielkiej mocy obliczeniowej w sytuacjach kryzysowych" rel="home">
            <img src="{{ "/images/logo.png" | relative_url }}" alt="Comcute" />
        </a>

        <a id="comcute-start" role="button" class="comcute-button noselect">
            <span>Rozpocznij przetwarzanie</span>
        </a>

        <a id="comcute-stop" role="button" class="comcute-button noselect" style="display: none;">
            <span>Przerwij przetwarzanie</span>
        </a>

        <div id="progressbar" class="collapsed">
            <div class="progress" style="width: 0%"></div>
        </div>
    </div>
</header>
