{% assign lang = site.active_lang %}

<header class="site-header" role="banner">
    <div class="wrapper">
        <div class="logos">
            <a href="https://pg.edu.pl" class="logo hide-on-mobile" title="{% tl pg_title %}" rel="external">
                <img src="{{ "/images/logo-pg.png" | relative_url }}" alt="{% tl pg_title %}" />
            </a>
            <a href="https://eti.pg.edu.pl" class="logo hide-on-mobile with-margins" title="{% tl eti_title %}" rel="external">
                <img src="{{ "/images/logo-eti.png" | relative_url }}" alt="{% tl eti_alt %}" />
            </a>
            <a href="{{ "/" | relative_url }}" class="logo" title="Comcute - {{ site.description[lang] }}" rel="home">
                <img src="{{ "/images/logo.png" | relative_url }}" alt="Comcute" />
            </a>
        </div>

        <a id="comcute-start" role="button" class="comcute-button noselect">
            <span>{% tl comcute_button_start %}</span>
        </a>

        <a id="comcute-stop" role="button" class="comcute-button noselect" style="display: none;">
            <span>{% tl comcute_button_stop %}</span>
        </a>

        <div id="progressbar" class="collapsed">
            <div class="progress" style="width: 0%"></div>
        </div>

        <div id="computing-status" class="hidden">
            <div id="text-status"></div>
            <canvas id="sim-canvas" style="display: none;"></canvas>
        </div>        
    </div>
</header>
