<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
     /* <![CDATA[ */
      var Comcute = {
        ajaxurl: 'http://comcute.eti.pg.gda.pl/wp-admin/admin-ajax.php',
        messages: {
            errorMsg: "Przepraszamy, ale wystąpił błąd. Spróbuj dołączyć do nas później.",
            noTaskMsg: "Aktualnie nie ma żadnych zadań do wykonania. Spróbuj dołączyć do nas później.",
            awaitingDataMsg: "Oczekuję na dane. Obliczenia wkrótce zostaną rozpoczęte.",
            computingStartMsg: "Dziękujemy za udostępnienie mocy obliczeniowej. Obliczenia trwają...",
            computingEndMsg: "Zakończono obliczenia. Dziękujemy za współpracę.",
        },
              };
     /* ]]> */
      jQuery(document).ready(function($) {
      $('#nav-button').click(function(event){
       if (!$('#nav-button').hasClass('active')) {
           $('#nav-button').addClass('active');
           $('nav#categories > ul').show();
           event.stopPropagation();
           $(document).one('click', function() {
               $('#nav-button').removeClass('active');
               $('nav#categories > ul').hide();
           });
       } else {
           $('#nav-button').removeClass('active');
           $('nav#categories > ul').hide();
       }
    })
}(jQuery));
</script>
<script type="text/javascript" src="/js/webServicesJQueryPlugin.js"></script>
<script type="text/javascript" src="/js/jSModuleWrapper.js"></script>
<script type="text/javascript" src="/js/jsLoader.js"></script>
<script type='text/javascript' src='/js/jsbn.js'></script>
<script type='text/javascript' src='/js/jsbn2.js'></script>
<script type="text/javascript" src="/js/comcute.js"></script>
<script type="text/javascript" src="/js/collatz-intervals.js"></script>
