<script>
    /* <![CDATA[ */
    var Comcute = {
        messages: {
        {% if site.active_lang == "pl" %}
            error: "Przepraszamy, ale wystąpił błąd. Spróbuj dołączyć do nas później.",
            noTask: "Aktualnie nie ma żadnych zadań do wykonania. Spróbuj dołączyć do nas później.",
            awaitingData: "Oczekuję na dane. Obliczenia wkrótce zostaną rozpoczęte.",
            computingStart: "Dziękujemy za udostępnienie mocy obliczeniowej. Obliczenia trwają...",
            computingEnd: "Zakończono obliczenia. Dziękujemy za współpracę.",
        {% else %}
            error: "We're sorry, but an error occured. Please try joining us later.",
            noTask: "There are no task to compute currently. Please try joining us later.",
            awaitingData: "Awaiting data. Computations will start soon.",
            computingStart: "Thank you for sharing your computer's computing power with us. Calculations in progress...",
            computingEnd: "Calculations ended. Thank you for participating.",
        {% endif %}
        },
        currentLanguage: "{{ site.active_lang }}"
    };
    /* ]]> */
</script>
<script src="{{ "/js/webServices.js" | relative_url }}"></script>
<script src="{{ "/js/ww.js" | relative_url }}"></script>
<script src="{{ "/js/runner.js" | relative_url }}"></script>
<script src="{{ "/js/loader.js" | relative_url }}"></script>
<script src="{{ "/js/jsbn.js" | relative_url }}"></script>
<script src="{{ "/js/jsbn2.js" | relative_url }}"></script>
<script src="{{ "/js/comcute.js" | relative_url }}"></script>
<!--<script src="{{ "/js/collatz-intervals.js" | relative_url }}"></script>-->
<script src="{{ "/js/fire.js" | relative_url }}"></script>
<!--<script src="{{ "/js/mersenne.js" | relative_url }}"></script>-->
