<aside id="panel">
    <div class="spacer-panel">
        <ul>
            <li>
                <div title="Obliczenia rozproszone w systemach komputerowych o architekturze klasy grid" class="cover">Obliczenia rozproszone w systemach komputerowych o architekturze klasy grid</div>
            </li>

            <li>
                <h3>Systemy obliczeń rozproszonych</h3>
                <ul>
                    <li>
                        <a title="BOINC" href="{{ "/comcute/2018/03/14/berkeley-open-infrastructure-for-network-computing.html" | relative_url }}">BOINC</a>
                    </li>

                    <li>
                        <a title="Analiza algorytmów" href="{{ "/comcute/2018/03/14/analiza-istniejacych-obliczen-uruchamianych-w-ramach-systemow-rozproszonych.html" | relative_url }}">Analiza algorytmów</a>
                    </li>

                    <li>
                        <a title="Bezpieczeństwo transferu" href="{{ "/comcute/2018/03/14/bezpieczenstwo-transferu-zestrukturalizowanych-plikow-xml-w-sieci-grid-w-oparciu-o-uslugi-web-service-poprzez-protokol-soap.html" | relative_url }}">Bezpieczeństwo transferu</a>
                    </li>
                </ul>

            </li>

            <li>
                <h3>System COMCUTE</h3>
                <ul>
                    <li>
                        <a title="Klient systemu Windows 8" href="{{ "/comcute/2018/03/14/klient-systemu-windows-8.html" | relative_url }}">Klient systemu Windows 8</a>
                    </li>

                    <li>
                        <a title="Architektura systemu Comcute" href="{{ "/comcute/2018/03/14/architektura-systemu-comcute.html" | relative_url }}">Architektura systemu Comcute</a>
                    </li>

                    <li>
                        <a title="Rozpraszanie obliczeń za pomocą serwerów dystrybucyjnych" href="{{ "/comcute/2018/03/14/rozpraszanie-obliczen-za-pomoca-serwerow-dystrybucyjnych.html" | relative_url }}">Rozpraszanie obliczeń za pomocą serwerów dystrybucyjnych</a>
                    </li>

                    <li>
                        <a title="Mechanizmy bezpieczeństwa w systemie Comcute" href="{{ "/comcute/2018/03/14/mechanizmy-bezpieczenstwa-w-systemie-comcute.html" | relative_url }}">Mechanizmy bezpieczeństwa w systemie Comcute</a>
                    </li>

                    <li>
                        <a title="Równoważenie obciążeń" href="{{ "/comcute/2018/03/14/optymalizacja-rownowazenia-obciazen-w-systemach-klasy-grid.html" | relative_url }}">Równoważenie obciążeń</a>
                    </li>
                </ul>
            </li>

            <li>
                <h3>Wybrane zastosowania</h3>
                <ul>
                    <li>
                        <a title="Bezpieczeństwo w monitoringu" href="{{ "/comcute/2018/03/14/bezpieczenstwo-w-monitoringu.html" | relative_url }}">Bezpieczeństwo w monitoringu</a>
                    </li>

                    <li>
                        <a title="Rozproszone łamanie szyfrów" href="{{ "/comcute/2018/03/14/rozproszone-lamanie-szyfrow.html" | relative_url }}">Rozproszone łamanie szyfrów</a>
                    </li>

                    <li>
                        <a title="Hipoteza Collatza" href="{{ "/comcute/2018/03/14/efektywne-zrownoleglanie-obliczen-w-systemie-klasy-grid-na-przykladzie-hipotezy-collatza.html" | relative_url }}">Hipoteza Collatza</a>
                    </li>
                </ul>
            </li>

            <li>
                <h3>Uczestnicy projektu</h3>
                <ul>
                    <li>
                        <a title="Katedra Architektury Systemów Komputerowych" href="http://kask.eti.pg.gda.pl/" rel="external">Katedra Architektury Systemów Komputerowych</a>
                    </li>

                    <li>
                        FIDO Intelligence
                    </li>

                    <li>
                        <a title="Use It Better" href="http://useitbetter.com/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://useitbetter.com']);" rel="external">Use It Better</a>
                    </li>

                    <li>
                        Hi Tech
                    </li>
                </ul>
            </li>

            <li>
                <h3>Podobne projekty</h3>
                <ul>
                    <li>
                        <a title="Projekt BOINC" href="http://boinc.berkeley.edu/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://boinc.berkeley.edu']);" rel="external">Projekt BOINC</a>
                    </li>

                    <li>
                        <a title="Projekt SETI" href="http://setiathome.berkeley.edu/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://setiathome.berkeley.edu']);" rel="external">Projekt SETI</a>
                    </li>

                    <li>
                        <a title="Projekt FOLDING" href="http://folding.stanford.edu/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://folding.stanford.edu']);" rel="external">Projekt FOLDING</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>

<div id="line">
    <div id="more-less"></div>
</div>
