<aside id="panel">
    <div class="spacer-panel">
        <ul>
            <li>
                <img src="{{ "/images/okladka_bg.png" | relative_url }}" class="cover" alt="Obliczenia rozproszone w systemach komputerowych o architekturze klasy grid">
            </li>

            <li>
                <h3>{% tl side_pane_h1 %}</h3>
                <ul>
                    {% for element in site.data.i18n.side_pane_1_elements.[site.active_lang] %}
                        <li>
                            <a title="{{ element.title }}" href="{{ element.link | relative_url }}">{{ element.title }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </li>

            <li>
                <h3>{% tl side_pane_h2 %}</h3>
                <ul>
                    {% for element in site.data.i18n.side_pane_2_elements.[site.active_lang] %}
                        <li>
                            <a title="{{ element.title }}" href="{{ element.link | relative_url }}">{{ element.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li>
                <h3>{% tl side_pane_h3 %}</h3>
                <ul>
                    {% for element in site.data.i18n.side_pane_3_elements.[site.active_lang] %}
                        <li>
                            <a title="{{ element.title }}" href="{{ element.link | relative_url }}">{{ element.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li>
                <h3>{% tl side_pane_h4 %}</h3>
                <ul>
                    <li>
                        <a title="Katedra Architektury Systemów Komputerowych" href="http://kask.eti.pg.gda.pl/" rel="external">Katedra Architektury Systemów Komputerowych</a>
                    </li>

                    <li>
                        FIDO Intelligence
                    </li>

                    <li>
                        <a title="Use It Better" href="http://useitbetter.com/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://useitbetter.com']);" rel="external">Use It Better</a>
                    </li>

                    <li>
                        Hi Tech
                    </li>
                </ul>
            </li>

            <li>
                <h3>{% tl side_pane_h5 %}</h3>
                <ul>
                    <li>
                        <a title="Projekt BOINC" href="http://boinc.berkeley.edu/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://boinc.berkeley.edu']);" rel="external">Projekt BOINC</a>
                    </li>

                    <li>
                        <a title="Projekt SETI" href="http://setiathome.berkeley.edu/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://setiathome.berkeley.edu']);" rel="external">Projekt SETI</a>
                    </li>

                    <li>
                        <a title="Projekt FOLDING" href="http://folding.stanford.edu/" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://folding.stanford.edu']);" rel="external">Projekt FOLDING</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>

<div id="line">
    <div id="more-less"></div>
</div>
