$comcute-button-width: 300px;
$comcute-button-height: 55px;
$comcute-button-height-mobile: 50px;
$container-shadow-size: 16px;

.comcute-button {
    display: flex;
    justify-content: center;
    float: right;
    min-width: $comcute-button-width;

    line-height: $comcute-button-height;
    text-align: center;
    text-transform: uppercase;

    &, a, button {
        color: #fff;
        font-size: 18px;
        font-family: Impact;
        letter-spacing: 2px;        
    }

    cursor: pointer;

    @include media-query($max-inline-header-width) {
        float: none;
        line-height: $comcute-button-height-mobile;
        min-width: 100%;

        @include relative-font-size(1.15);
    }

    @include transition(box-shadow 0.4s linear);
    box-shadow: none;
    &:hover {
        color: #fff;
        box-shadow: 0 1px 10px rgba(black, 0.3);
    }

    &:active {
        color: #ededed;
    }
}


.comcute-sub-button {
    display: inline-block;
    flex-grow: 1;

    z-index: 10;

    @include transition(box-shadow 0.2s linear);
    box-shadow: none;
    &:hover {
        box-shadow: 0 1px 8px rgba(black, 0.2);

        &:first-child {
            border-right: 1px solid #00000020;
        }
        & + .comcute-sub-button {
            border-left: none;
        }
    }
}


.comcute-more-container {
    display: block;
    position: absolute;
    min-width: $comcute-button-width;
    padding: $container-shadow-size;
    margin-top: $comcute-button-height - $container-shadow-size;

    overflow: hidden;
    pointer-events: none;
    z-index: 5;

    &:hover {
        @extend %comcute-more-container-on-hover;
    }

    @include media-query($max-inline-header-width) {
        float: none;
        margin-top: $comcute-button-height-mobile;
        line-height: $comcute-button-height-mobile;
        min-width: 100%;

        padding-top: $container-shadow-size;
        padding-bottom: $container-shadow-size;
        padding-left: 0;
        padding-right: 0;
        margin-top: $comcute-button-height-mobile - $container-shadow-size;

        @include relative-font-size(1.15);
    }

    .comcute-more-container-shadow {
        display: block;
        position: absolute;
        top: $container-shadow-size;
        left: $container-shadow-size;
        width: calc(100% - #{$container-shadow-size} * 2);

        @include media-query($max-inline-header-width) {
            left: 0;
            width: 100%;
        }

        pointer-events: none;
        z-index: 6;
        
        height: 0;
        box-shadow: 0px 4px $container-shadow-size 0px rgba(0,0,0, 0.4),
                    inset 0px 7px 10px -7px rgba(0,0,0, 0.3);

        @include transition(height 0.3s ease-out);
    }

    #comcute-tasks {
        transform: translateY(-100%);
        @include transition(all 0.3s ease-out);
    }

    a {
		display: block;
		
		line-height: $comcute-button-height - 10px;
        font-size: 15px;
    }
}

%comcute-more-container-on-hover {
    pointer-events: all;

    .comcute-more-container-shadow {
        height: calc(100% - #{$container-shadow-size} * 2);
    }
    
    #comcute-tasks {
        transform: translateY(0%);
    }
}


.comcute-start {
    background: #e03d3a;
    text-shadow: 0px 0px 2px #922;

    &:hover {
        background: #ee3d3a;
    }

    &:active {
        background: #d53431;
    }
}


.comcute-more {
    width: $comcute-button-height;
    max-width: $comcute-button-height;
    padding: 0;

    box-sizing: content-box;

    border-left: 1px solid #00000020;
    border-right: none;
    border-top: none;
    border-bottom: none;

    z-index: 8;

    @include media-query($max-inline-header-width) {
        width: $comcute-button-height-mobile;
        max-width: $comcute-button-height-mobile;
    }

    &:hover, &:focus {
        z-index: 10;
    }

    &:hover + .comcute-more-container,
    &:focus + .comcute-more-container {
        @extend %comcute-more-container-on-hover;
    }
}


#comcute-stop {
    background: #757575;
    text-shadow: 0px 0px 2px #333;

    &:hover {
        background: #808080;
    }

    &:active {
        background: #686868;
    }
}