$comcute-button-width: 300px;
$comcute-button-height: 55px;
$comcute-button-height-mobile: 50px;

.comcute-button {
    display: flex;
    justify-content: center;
    float: right;
    min-width: $comcute-button-width;

    line-height: $comcute-button-height;
    text-align: center;
    text-transform: uppercase;

    &, a, button {
        color: #fff;
        font-size: 18px;
        font-family: Impact;
        letter-spacing: 2px;        
    }

    button {
        border: none;
    }

    cursor: pointer;

    @include media-query($max-inline-header-width) {
        float: none;
        line-height: $comcute-button-height-mobile;
        min-width: 100%;

        @include relative-font-size(1.15);
    }

    @include transition(box-shadow 0.4s linear);
    box-shadow: none;
    &:hover {
        color: #fff;
        box-shadow: 0 1px 10px rgba(black, 0.3);
    }

    &:active {
        color: #ededed;
    }
}


.comcute-sub-button {
    display: inline-block;
    flex-grow: 1;

    @include transition(box-shadow 0.4s linear);
    box-shadow: none;
    &:hover {
        box-shadow: 0 1px 10px rgba(black, 0.2);
    }
}

.comcute-more {
    &:hover + .comcute-more-container,
    &:focus + .comcute-more-container {
        display: block;
    }
}

.comcute-more-container {
    display: none;
    position: absolute;
    min-width: $comcute-button-width;
    margin-top: $comcute-button-height;

    overflow: auto;
    z-index: 10;
    
    background-color: #f1f1f1;
    box-shadow: 0px 4px 16px 0px rgba(black, 0.4);

    @include media-query($max-inline-header-width) {
        float: none;
        margin-top: $comcute-button-height-mobile;
        line-height: $comcute-button-height-mobile;
        min-width: 100%;

        @include relative-font-size(1.15);
    }

    a {
		display: block;
		
		line-height: $comcute-button-height - 10px;
		font-size: 15px;
    }

    &:hover {
		display: block;
    }
}


.comcute-start {
    background: #e03d3a;
    text-shadow: 0px 0px 2px #922;

    &:hover {
        background: #ee3d3a;
    }

    &:active {
        background: #d53431;
    }
}


.comcute-more {
    min-width: $comcute-button-height;
    width: $comcute-button-height;
    max-width: $comcute-button-height;
}


#comcute-stop {
    background: #757575;
    text-shadow: 0px 0px 2px #333;

    &:hover {
        background: #808080;
    }

    &:active {
        background: #686868;
    }
}