---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " pl " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <div class="page wrapper">

        {%- include menu.html -%}

        <div id="page-middle">

            {%- include side-panel.html -%}

            <main class="page-content" aria-label="Content">
                <div class="spacer">
                    {{ content }}
                </div>
            </main>

        </div>

        {%- include footer.html -%}

    </div>

    {%- include scripts.html -%}

</body>

</html>
